@using Domain.Entities
@using WebApplication2.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p);
}
<div class="btn-group pull-right">
    @Html.Pagelinks(Model.PagingInfo, x => Url.Action("List", new {category=Model.CurrentCategory, page = x }))
</div>

